<div class="page-content" id="about-page" style="display: none">
    <div class="block no-margin-block">
        <div class="row">
            <div class="col demo-card-header-pic-banner-2" style="background: url(https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/b1.jpg) no-repeat center;">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
        </div>
        <div class="row" style="padding: 20px 10px 20px 10px;justify-content: center;text-align: center;background: #3b94ed">
            <div class="row space1" style="justify-content: center;text-align: center">
                <div class="col-100 tablet-50" style="font-size:31px;text-align: center;justify-content:center;color: #ffffff">
                    <i class="fa fa-ambulance" aria-hidden="true"></i>
                </div>

            </div>
            <div class="row" style="justify-content: center;text-align: center">
                <div class="col-100 tablet-50">
                    <h2 style="margin: 0 2px 0 2px">Emergency</h2>
                </div>

            </div>
            <div class="row" style="justify-content: center;text-align: center">
                <div class="col-100 tablet-50">
                    <p style="margin:  0 2px 0 2px;color:#ffffff">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus rerum laudantium et voluptatem
                        eius quam consectetur labore. </p>
                </div>

            </div>
        </div>
        <div class="row" style="padding: 20px 10px 20px 10px;justify-content: center;text-align: center;background: #2c87e4">
            <div class="row space1" style="justify-content: center;text-align: center">
                <div class="col-100 tablet-50" style="font-size:31px;text-align: center;justify-content:center;color: #ffffff">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </div>

            </div>
            <div class="row" style="justify-content: center;text-align: center">
                <div class="col-100 tablet-50">
                    <h2 style="margin: 0 2px 0 2px">Awareness</h2>
                </div>

            </div>
            <div class="row" style="justify-content: center;text-align: center">
                <div class="col-100 tablet-50">
                    <p style="margin:  0 2px 0 2px;color:#ffffff">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus rerum laudantium et voluptatem
                        eius quam consectetur labore. </p>
                </div>

            </div>
        </div>
        <div class="row" style="padding: 20px 10px 20px 10px;justify-content: center;text-align: center;background:#207edd ">
            <div class="row space1" style="justify-content: center;text-align: center">
                <div class="col-100 tablet-50" style="font-size:31px;text-align: center;justify-content:center;color: #ffffff">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                </div>

            </div>
            <div class="row" style="justify-content: center;text-align: center">
                <div class="col-100 tablet-50">
                    <h2 style="margin: 0 2px 0 2px">Client Care</h2>
                </div>

            </div>
            <div class="row" style="justify-content: center;text-align: center">
                <div class="col-100 tablet-50">
                    <p style="margin:  0 2px 0 2px;color:#ffffff">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus rerum laudantium et voluptatem
                        eius quam consectetur labore. </p>
                </div>

            </div>
        </div>
        <div class="row" style="padding: 30px 10px 30px 10px;justify-content: center;text-align: center">
            <div class="row">
                <div class="col-100 tablet-40">
                    <img src="https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/a1.jpg" alt=""
                        height="100%" width="100%">
                </div>

            </div>
            <div class="row" style="text-align: left;justify-content:left;">
                <h1 style="color: #3b94ed;margin:5px 0 5px 0 ">Who Are We</h1>
            </div>
            <div class="row">
                <p style="margin:5px 0 5px 0">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, laborum aliquid? Porro consequuntur natus laborum dicta
                    aut esse ipsum autem modi, totam commodi nesciunt vero facere optio aspernatur molestias non.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col demo-card-header-pic-banner-3" style="background: url(https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/b3.jpg) no-repeat center;justify-content: center">
                <div class="row" style="justify-content: center; text-align: center">
                    <h1>OUR FACILITIES</h1>
                </div>
                <div class="row">
                    <div class="col" style="justify-content: center;text-align: center">
                        <div class="row" style="justify-content: center;text-align: center;color:#0adbba;font-size: xx-large">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="row" style="justify-content: center;text-align: center">
                            <h1 style="font-size: x-large;margin: 2px 0 2px 0;font-weight: lighter;">3500</h1>
                        </div>
                        <div class="row" style="justify-content: center;text-align: center">
                            <h4 style="color:#0adbba;margin: 0 0 0 0;font-weight: 400;font-size: unset;">STAFF</h4>
                        </div>
                    </div>
                    <div class="col" style="justify-content: center;text-align: center">
                        <div class="row" style="justify-content: center;text-align: center;color:#0adbba;font-size: xx-large">
                            <i class="fa fa-hospital-o" aria-hidden="true"></i>
                        </div>
                        <div class="row" style="justify-content: center;text-align: center">
                            <h1 style="font-size: x-large;margin: 2px 0 2px 0;font-weight: lighter;">650</h1>
                        </div>
                        <div class="row" style="justify-content: center;text-align: center">
                            <h4 style="color:#0adbba;margin: 0 0 0 0;font-weight: 400;font-size: unset;">BRANCHES</h4>
                        </div>
                    </div>
                </div>
                <div class="row space1 "></div>
                <div class="row ">
                    <div class="col " style="justify-content: center;text-align: center ">
                        <div class="row " style="justify-content: center;text-align: center;color:#0adbba;font-size: xx-large ">
                            <i class="fa fa-user-md " aria-hidden="true "></i>
                        </div>
                        <div class="row " style="justify-content: center;text-align: center ">
                            <h1 style="font-size: x-large;margin: 2px 0 2px 0;font-weight: lighter; ">1021</h1>
                        </div>
                        <div class="row " style="justify-content: center;text-align: center ">
                            <h4 style="color:#0adbba;margin: 0 0 0 0;font-weight: 400;font-size: unset;">DOCTORS</h4>
                        </div>
                    </div>
                    <div class="col " style="justify-content: center;text-align: center ">
                        <div class="row " style="justify-content: center;text-align: center;color:#0adbba;font-size: xx-large ">
                            <i class="fa fa-ambulance " aria-hidden="true "></i>
                        </div>
                        <div class="row " style="justify-content: center;text-align: center ">
                            <h1 style="font-size: x-large;margin: 2px 0 2px 0;font-weight: lighter; ">1010</h1>
                        </div>
                        <div class="row " style="justify-content: center;text-align: center ">
                            <h4 style="color:#0adbba;margin: 0 0 0 0;font-weight: 400;font-size: unset;">TREATMENTS</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="justify-content:center;text-align: center">
            <div class="row" style="justify-content: center;text-align: center">
                <h1>LABORATORY</h1>
            </div>
            <div class="row">
                <div class="col-100 tablet-50 div-4">
                    <img src="https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/g4.jpg" alt=""
                        height="100%" width="100%">
                </div>

            </div>
            <div class="row no-gap">
                <div class="col div-3">

                    <img src="https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/g1.jpg" alt=""
                        height="100%" width="100%">

                </div>
                <div class="col div-3">

                    <img src="https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/g2.jpg" alt=""
                        height="100%" width="100%">

                </div>
            </div>
            <div class="row no-gap">
                <div class="col div-6">
                    <img src="https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/g3.jpg" alt=""
                        height="100%" width="100%">
                </div>
                <div class="col">
                    <div class="row no-gap div-3">
                        <img src="https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/g6.jpg" alt=""
                            height="100%" width="100%">
                    </div>
                    <div class="row no-gap div-3">
                        <img src="https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/g5.jpg" alt=""
                            height="100%" width="100%">

                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <h1 style="font-weight:50">OUR SPECIALISTS</h1>
            </div>
            <div class="row justify-content-center">
                <div class="row justify-content-center">
                    <img src="https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/t1.jpg" alt="">
                </div>
                <div class="row">
                    <h3>Dr. Bruce Banner</h3>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="row justify-content-center">
                    <img src="https://p.w3layouts.com/demos_new/template_demo/10-01-2018/medically-demo_Free/1061846007/web/images/t2.jpg" alt="">
                </div>
                <div class="row">
                    <h3>Dr. Zuri Challa</h3>
                </div>

            </div>
        </div>

    </div>
</div>