<div class="page-content" id="aboutArthritis-page" style="display: none;">
    <div class="fab fab-right-top color-black" style="position:fixed;" id="AAtoAC">
        <a href="#">
            Back
        </a>
    </div>
    <div class="block page-container" id="aboutArthritis-page-container">

        <div class="row">

            <div class="col demo-card-header-pic-banner-2">
                <img src="https://centershealthcare.com/share/images/uploads/5046_pexels-photo-339620.jpeg" alt="" style="height: 100%;width:100%;">
            </div>

        </div>
        <div class="row">
            <div class="space0_5"></div>
        </div>
        <div class="row">
            <div class="col-100 tablet-50" style="text-align: center">
                <h2 style="font-family: 'Merienda', cursive;">About Arthritis</h2>
            </div>

        </div>
        <div class="row">

            <div class="col-100 tablet-50" style="padding:0px 25px 6px 25px;">
                <p>
                    Whether you think you may be suffering from arthritis—or you’ve already been diagnosed—you’ve come to the right place. Managing
                    arthritis starts with understanding it. And in this section, you’ll find helpful information about two
                    of the most common forms of arthritis—
                    <strong>osteoarthritis (OA)</strong>and
                    <strong>rheumatoid arthritis (RA)</strong>.
                </p>
            </div>

        </div>
        <div class="row">
            <div class="space1">

            </div>
        </div>
        <div class="row">

            <div class="col-50 tablet-25" style="padding:0px 25px 6px 25px;">
                <div class="row">
                    <img src="https://www.arthritis.com/sites/default/themes/custom/arthritis/images/about-arthritis/hand-copy.png">
                </div>
                <div class="row">
                    <h2>Rheumatoid Arthritis</h2>
                </div>
                <div class="row">
                    <p>Auto-immune disease that impacts the joints</p>
                </div>

            </div>
            <div class="col-50 tablet-25" style="padding:0px 25px 6px 25px;">
                <div class="row">
                    <img src="https://www.arthritis.com/sites/default/themes/custom/arthritis/images/about-arthritis/knee-copy.png">
                </div>
                <div class="row">
                    <h2>Osteoarthritis</h2>
                    <div class="space0_6"></div>
                </div>
                <div class="row">
                    <p>Wear and tear of the joints</p>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col demo-card-header-pic-banner-2" style="background:#69a3d3">
                <div class="row" style="height: 48px;">
                    <h1 style="padding: 0px 21px 0px 20px;color: white">
                        <strong>RA vs. OA</strong>
                    </h1>
                </div>
                <div class="row">
                    <h2 style="padding: 0px 40px 16px 23px;color: white;">Learn about the differences between the two.</h2>
                </div>
                <div class="row">
                    <img src="https://www.arthritis.com/sites/default/modules/custom/pfe_arthritis_animation/templates/images/book-faded.png"
                        height="30%" width="60%" style="position: relative;right: -134px;bottom: 51px;">
                </div>
                <div class="row">
                    <button class="col-50 button button-fill color-white text-color-blue" style="position: relative;top:-74px;left:29px">Compare RA & OA</button>
                </div>
            </div>
        </div>
        <div class="col-50 tablet-25" style="background-color: #edf6fd">
            <div class="row">
                <h2 style="padding: 0px 21px 0px 22px">How Do You Feel?</h2>
            </div>
            <div class="row">
                <p style="text-align: justify;padding:0px 25px 6px 25px;">
                    In order to find a treatment that works for you and your lifestyle, your doctor needs to understand how you’re feeling. Use
                    our
                    <strong>
                        <a href="#">Arthritis Symptom Tracker</a>
                    </strong> to assess your symptoms. Then, you can share your results with your doctor to help explain how arthritis
                    may be holding you back from the things you used to do. our
                </p>
            </div>
            <div class="row" style="justify-content: center">

                <img src="https://www.arthritis.com/sites/default/themes/custom/arthritis/images/about-arthritis/monitor.png">


            </div>
        </div>
        <div class="space1"></div>
    </div>

</div>