<div class="page-content bg-color-black" id="listProgram-page" style="display: none;">
    <div class="fab fab-right-top color-black" style="position: fixed;" id="programToHome">
        <a href="#">
            Back
        </a>
    </div>
    <div class="card demo-card-header-pic" id="aboutArthritis-button">
        <div style="background-image:url(https://centershealthcare.com/share/images/uploads/5046_pexels-photo-339620.jpeg)" class="card-header align-items-flex-end">
            <h2 style="font-family: 'Russo One', sans-serif;position: absolute;top:1px;left: 5px;">About Arthritis</h2>
        </div>
    </div>
    <div class="card demo-card-header-pic" id="treatArthritis-button">
        <div style="background-image:url(http://images.glaciermedia.ca/polopoly_fs/1.2169897.1455134235!/fileImage/httpImage/image.jpg_gen/derivatives/landscape_804/the-doctor-patient-relationship-can-be-one-of-the-most-important-relationships-in-your-life.jpg)"
            class="card-header align-items-flex-end">
            <h2 style="font-family: 'Russo One', sans-serif;position: absolute;top:1px;left: 5px;">Treatments & Doctor Partnership</h2>
        </div>
    </div>
    <div class="card demo-card-header-pic" id="livingArthritis-button">
        <div style="background-image:url(https://www.arthritis.com/sites/default/files/mobile/walking-in-the-country.jpg) " class="card-header align-items-flex-end ">
            <h2 style="font-family: 'Russo One', sans-serif;position: absolute;top:1px;left: 5px;">Living with Arthritis</h2>
        </div>
    </div>

</div>