<div class="page-content" id="askQ-page" style="display:none;">
    <div class="block no-margin-block">
        <div class="row">
            <div class="col demo-card-header-pic-banner-2">
                <img src="https://www.fxp.cz//images/faltic_clanky/28_5_na_sebe_nenavazujicich_a_zajimavych_otazek/mini.png" alt="" height="100%"
                    width="100%">
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row justify-content-center">
            <div class="col-100 tablet-50">
                <form class="list no-hairlines" id="my-form">
                    <ul>
                        <li>
                            <div class="item-content item-input">
                                <div class="item-media" style="font-size: x-large">
                                    <i class="fa fa-user-o"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title item-label">Name</div>
                                    <div class="item-input-wrap">
                                        <input type="text" name="name" placeholder="Your name">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-input">
                                <div class="item-media" style="font-size: x-large">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title item-label">E-mail</div>
                                    <div class="item-input-wrap">
                                        <input type="email" name="email" placeholder="E-mail">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-input">
                                <div class="item-media" style="font-size: x-large">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title item-label">Phone</div>
                                    <div class="item-input-wrap">
                                        <input type="number" name="phone" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-input">
                                <div class="item-media" style="font-size: x-large">
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title item-label">Queries</div>
                                    <div class="item-input-wrap">
                                        <textarea name="text" placeholder="Enter Your Queries"></textarea>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col-100 tablet-50" style="justify-content:center;padding: 0px 33.33% 0px 33.33%">

                <div class="mycol-1-3">
                    <button id="submit" type="submit" name="submit" value="Send" class="button button-fill">Submit</button>
                </div>

            </div>
            <div class="col-100 space1">

            </div>


        </div>

    </div>
</div>