<!DOCTYPE html>
<html class="with-statusbar-overlay">

<head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <title>Home</title>
      <link rel="stylesheet" href="/framework7/framework7-icons-master/css/framework7-icons.css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/framework7/dist/css/framework7.min.css" />
      <link href="https://fonts.googleapis.com/css?family=Russo+One|Merienda|Scada|Pattaya|Nobile" rel="stylesheet">
      <style>
            .demo-card-header-pic .card-header {
                  height: 60vw;
                  background-size: cover;
                  background-position: center;
                  color: #fff;
            }

            .space0_5 {
                  height: 5vw;
                  width: 100%;
            }

            .space0_1 {
                  height: 1vw;
                  width: 100%;
            }

            .space0_6 {
                  height: 6vw;
                  width: 100%;
            }

            .space1 {
                  height: 10vw;
                  width: 100%;
            }



            .num-wrap-rule {
                  background: url(https://www.arthritis.com/sites/default/themes/custom/arthritis/images/treatment-rule.png) no-repeat center center;
            }

            .num-wrap {
                  text-align: center;
                  background-color: #69d398;
                  font-size: 30px;
                  width: 80px;
                  height: 80px;
                  -webkit-border-radius: 100%;
                  -moz-border-radius: 100%;
                  -ms-border-radius: 100%;
                  -o-border-radius: 100%;
                  border-radius: 100%;
                  margin: -55px auto 0 auto;
                  line-height: 81px;
                  color: #fff;
                  font-family: 'Helvetica Neue LT W01_55 Roman', Arial, Sans-serif;
            }


            .smart-select-page .navbar .navbar-inner {
                  background: #000000;
            }

            .demo-card-header-pic-1 .card-header {
                  height: 30vw;
                  background-size: cover;
                  background-position: center;
                  color: #fff;
            }

            .demo-card-header-pic-banner {
                  height: 60vw;
                  width: 60vw;
                  background-size: cover;
                  background-position: center;
                  color: #fff;
                  padding: 0 0 0 0;
                  margin: 0 0 0 0;
            }

            .demo-card-header-pic-banner-2 {
                  height: 80vw;
                  width: 60vw;
                  background-size: cover;
                  background-position: center;
                  color: #fff;
                  padding: 0 0 0 0;
                  margin: 0 0 0 0;
            }

            .page-container {
                  margin: 0 0 0 0 !important;
                  padding: 0 0 0 0 !important;
            }

            .tile-1 {
                  height: 30vw !important;
                  width: 20vw !important;
            }

            .tile-2 {
                  height: 50vw !important;
                  width: 40vw !important;
            }

            .demo-card-header-pic .card-content-padding .date {
                  color: #8e8e93;
            }

            .bottom-toolbar-md {
                  position: absolute;
                  top: auto !important;
                  bottom: 0px !important;
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  margin: 0;
            }

            .clbox {
                  height: 10px;
            }

            .panel {

                  width: 213px;

            }
      </style>
      <script>

      </script>
</head>

<body>