<div class="page-content" id="livingArthritis-page" style="display: none;">
    <div class="fab fab-right-top color-black" style="position:fixed" id="LAtoAC">
        <a href="#">
            Back
        </a>
    </div>
    <div class="block page-container">
        <div class="row">
            <div class="col demo-card-header-pic-banner-2" style="background: url(https://www.arthritis.com/sites/default/files/mobile/walking-in-the-country.jpg);background-size:cover; background-repeat:no-repeat; background-position: center center; padding:0px 45px 0px 20px">
                <h1>Living with Arthritis</h1>
                <p>Arthritis affects more than just your joints. Over time, it may begin to take a toll on other areas of your
                    life
                </p>
            </div>

        </div>
        <div class="row" style="justify-content: center;">
            <div class="row" style="justify-content: center;width: 90%;border-bottom: 1px solid #cabfbf;">
                <div class="row">
                    <h1 style="font-family: 'Scada', sans-serif;color:#69a3d3;margin-bottom: 0px">body</h1>
                </div>
                <div class="row" style="text-align: center;padding: 0px 47px 0px 47px;">
                    <p style="margin: 0 0 10px 0;color: #aaaaa9;font-weight: 100px">Discover arthritis-friendly exercises and general health advice.</p>
                </div>

            </div>
            <div class="row" style="justify-content: center;width: 90%;border-bottom: 1px solid #cabfbf;">
                <div class="row">
                    <h1 style="font-family: 'Scada', sans-serif;color:#69d398;margin-bottom: 0px">life</h1>
                </div>
                <div class="row" style="text-align: center;padding: 0px 47px 0px 47px;">
                    <p style="margin: 0 0 10px 0;color: #aaaaa9;font-weight: 100px">Find tips on everything from finances, to relationships, to parenting.</p>
                </div>

            </div>
            <div class="row" style="justify-content: center;width: 90%">
                <div class="row">
                    <h1 style="font-family: 'Scada', sans-serif;color:#d36969;margin-bottom: 0px">spirit</h1>
                </div>
                <div class="row" style="text-align: center;padding: 0px 47px 0px 47px;">
                    <p style="margin: 0 0 10px 0;color: #aaaaa9;font-weight: 100px">Get inspired with articles about spirituality and positivity.</p>
                </div>

            </div>
        </div>
        <div class="space0_5"></div>
        <div class="row">
            <div class="col demo-card-header-pic-banner" style="background: url(https://www.arthritis.com/sites/default/files/tile/0025_logan_-_article_2_dating_mobile.jpg);background-size:cover; background-repeat:no-repeat; background-position: center center; padding:0px 45px 0px 20px">
                <div style="background: #69d398;width: 17vw;text-align:  right;padding-right: 6px;position:  relative;top: 14px;left: -20px;font-size:20px">life</div>
                <h2 style="font-family: 'Scada', sans-serif;">DATING BOOTCAMP: THE INS AND OUTS</h2>

            </div>
        </div>
        <div class="space0_5"></div>
        <div class="row">
            <div class="col demo-card-header-pic-banner" style="background: url(https://www.arthritis.com/sites/default/files/tile/hand-cane.jpg);background-size:cover; background-repeat:no-repeat; background-position: center center; padding:0px 45px 0px 20px">
                <div style="background: #68a3d3;width: 17vw;text-align:  right;padding-right: 6px;position:  relative;top: 14px;left: -20px;font-size:20px">body</div>
                <h2 style="font-family: 'Scada', sans-serif;">HOW TO CHOOSE THE RIGHT CANE AND USE IT CORRECTLY</h2>

            </div>
        </div>
        <div class="space0_5"></div>
        <div class="row">
            <div class="col demo-card-header-pic-banner" style="background: url(https://www.arthritis.com/sites/default/files/tile/healthy-lifestyle.jpg);background-size:cover; background-repeat:no-repeat; background-position: center center; padding:0px 45px 0px 20px">
                <div style="background: #68a3d3;width: 17vw;text-align:  right;padding-right: 6px;position:  relative;top: 14px;left: -20px;font-size:20px">body</div>
                <h2 style="font-family: 'Scada', sans-serif;">HEALTHY WEIGHT—IT’S NOT A DIET, IT’S A LIFESTYLE</h2>

            </div>
        </div>
        <div class="space0_5"></div>
        <div class="row">
            <div class="col demo-card-header-pic-banner" style="background: url(https://www.arthritis.com/sites/default/files/tile/meditation.jpg);background-size:cover; background-repeat:no-repeat; background-position: center center; padding:0px 45px 0px 20px">
                <div style="background: #d36969;width: 17vw;text-align:  right;padding-right: 6px;position:  relative;top: 14px;left: -20px;font-size:20px">spirit</div>
                <h2 style="font-family: 'Scada', sans-serif;">STEP ONE:SELF LOVE</h2>

            </div>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="row">
                <h2 style="padding: 0px 21px 0px 22px;font-size: 22px;font-weight: 100;">Count on Expert Advice</h2>
            </div>
            <div class="row" style="padding: 0px 35px 0px 35px">

                <div class="col-33 tablet-50">
                    <img src="http://szzljy.com/images/doctor/doctor8.jpg" alt="" width="100%" height="20%">
                </div>
                <div class="col-66 tablet-50">
                    <div class="row">
                        <h4 style="margin: 0 0 0 0">Steven Gerrard,Ph.D.</h4>
                    </div>
                    <div class="row no-gap">
                        <p style="margin: 0 0 0 0">Find helpful tips from orthopedic and physiotherapy expert, author and TV personality.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>