<div class="page-content" id="treatArthritis-page" style="display: none;">
    <div class="fab fab-right-top color-black" style="position: fixed;" id="TAtoAC">
        <a href="#">
            Back
        </a>
    </div>
    <div class="block page-container">
        <div class="row">
            <div class="col demo-card-header-pic-banner-2">
                <img src="http://images.glaciermedia.ca/polopoly_fs/1.2169897.1455134235!/fileImage/httpImage/image.jpg_gen/derivatives/landscape_804/the-doctor-patient-relationship-can-be-one-of-the-most-important-relationships-in-your-life.jpg"
                    alt="" height="100%" width="100%">
            </div>

        </div>
        <div class="row">
            <div class="space0_5"></div>
        </div>
        <div class="row">
            <div class="col-100 tablet-50" style="text-align: center">
                <h2 style="font-family: 'Merienda', cursive;">Treatments and Doctor Partnership</h2>
            </div>

        </div>
        <div class="row">
            <div class="col-100 tablet-50" style="padding:0px 25px 6px 25px;">
                <p>
                    You can take part in managing your arthritis by knowing what your treatment options are. Once you understand your arthritis
                    treatment options, you and your doctor can work together to find a treatment and create a care plan that
                    works for you and your lifestyle.
                </p>
            </div>
        </div>
        <div class="row" style="background-color: #edf6fd">

            <div class="row">
                <h2 style="padding: 0px 21px 0px 22px ">Doctor Partnership</h2>
            </div>
            <div class="row" style="padding:0px 25px 6px 25px;">
                <p>Your doctor may be a medical expert, but you’re the expert when it comes to knowing how you feel. It’s important
                    that you talk openly with your doctor about how arthritis is impacting your life, what you hope to achieve
                    with treatment, and any questions you may have. Patients who take a more active role in their care tend
                    to be more satisfied with their treatments.</p>
                <p>To help you in talking openly with your doctor, we’ve created a simple worksheet where you can record your
                    treatment goals, questions, and concerns. All you need to do is fill out the worksheet below. When you’re
                    finished, you can print or e-mail the completed worksheet and then share it with your doctor.</p>
            </div>

        </div>
        <div class="num-wrap" style="position: relative;top: 31px;">1</div>
        <div class="col space1"></div>
        <div class="row" style="justify-content: center">
            <div class="row">

                <h3 style="padding: 0px 21px 0px 22px ">Treatment Goals</h3>

            </div>
            <div class="row" style="padding:0px 25px 6px 25px;">
                <p>Defining what you want out of treatment can help you and your doctor decide which arthritis treatment option
                    may be right for you. Use the thought starters below to set your treatment goals and then work with your
                    doctor to reach them.</p>
            </div>
        </div>
        <div class="col space1"></div>
        <div class="col space1"></div>
        <div class="num-wrap-rule">
            <div class="num-wrap" style="position: relative;top: 0px;">2</div>
        </div>

        <div class="col space1"></div>
        <div class="row" style="justify-content: center">
            <div class="row">

                <h3 style="padding: 0px 21px 0px 22px ">Questions for Your Doctor</h3>

            </div>
            <div class="row" style="padding:0px 25px 6px 25px;">
                <p>While sitting on the exam room table, it can be difficult to think of all the questions you want to discuss
                    with your doctor. To help you make the most of your next appointment, we created a list of questions
                    that you may want to ask—plus, space to add a few of your own. That way, you can leave your doctor’s
                    office knowing you have the answers you need.</p>
                <ol>
                    <li>
                        <p>
                            I’m interested in a treatment that is convenient. What would you recommend?
                        </p>
                    </li>
                    <li>
                        <p>
                            What can I expect after beginning treatment?
                        </p>
                    </li>
                    <li>
                        <p>
                            There are certain activities and hobbies I hope to pick up again. Can we achieve this?
                        </p>
                    </li>
                </ol>

            </div>
        </div>
        <div class="col space1"></div>

    </div>

</div>